@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Instrument Sans, sans-serif;
}

body {
  background-color: #fafafa;
}

/*  --------------------Devlinks logo---------------------- */

.main-cont {
  margin: 0 auto;
  padding: 32px;
  width: 375px;
}

.login-details {
  width: 100%;
  height: 92px;
  gap: 8px;
  margin-top: 64px;
}

.login {
  width: 100%;
  height: 36px;

  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.login-txt {
  width: 100%;
  height: 48px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
}

.big-cont {
  width: 100%;

}

.input-conts {
  width: 100%;
  height: 306px;
  gap: 24px;
  margin-top: 40px;
}

.input-box {
  width: 100%;
  height: 70px;
  margin-bottom: 24px;
}

.input-email-cont {
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: 4px;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #D9D9D9;
  background: #FFF;
}

.input-box1 {
  width: 100%;
  height: 70px;
  margin-bottom: 24px;
}

.input-txt {
  width: 100%;
  height: 18px;
  color: #333333;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.input {
  width: 100%;
  height: 24px;
  margin-left: 12px;
  border: none;
  outline: none;

  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.input::placeholder {
  opacity: 0.5;
}


.email-p {
  color: #FF3939;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 201px;
}



.create-link {
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: 46px;
  padding: 11px 27px 11px 27px;
  border-radius: 8px;
  gap: 8px;
  background: #633cff;
  border: none;
  transition-duration: 0.5s;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #BEADFF;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.login-finish {
  width: 100%;
  height: 48px;
}

.dont-have,
.create-account {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.dont-have {
  color: #737373;
}

.create-account {
  height: 24px;
  color: #633cff;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .main-cont {
    width: 476px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 0 auto;
  }

  .big-cont {
    border-radius: 12px;
    padding: 40px;
    margin-top: 51px;
    background-color: white;
  }

  .login-details {
    margin: 0;
  }

  .login-finish {
    display: flex;
    width: 100%;
    justify-content: center;
  }

}



/*--------- Validation Styles -----------------------*/


 .error {
            color: red;
            border: 1px solid red;
 }

