* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Instrument Sans, sans-serif;
}

body {
  background-color: #fafafa;
  margin-bottom: 100px;
}

/*  --------------------Devlinks logo---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Instrument Sans, sans-serif;
}

body {
  background-color: #fafafa;
}

/*  --------------------Devlinks logo---------------------- */

.logo {
  margin-left: 32px;
  margin-top: 32px;
}

.big-cont {
  width: 311px;
  height: 550px;
  gap: 40px;
  margin-top: 64px;
  margin-left: 35.33px;
}

.register-cont {
  width: 311px;
  height: 68px;
  gap: 8px;
  margin-bottom: 40px;
}

.register {
  width: 311px;
  height: 36px;
  font-family: Instrument Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.register-txt {
  width: 311px;
  height: 24px;

  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
}

.register-conts {
  width: 311px;
  height: 442px;
  gap: 24px;
}

.email-cont,
.password-cont,
.confirm-password {
  width: 311px;
  height: 70px;
  gap: 4px;
  margin-bottom: 24px;
}

.input-txt {
  width: 396px;
  height: 18px;
  margin-bottom: 4px;
  font-family: Instrument Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.input {
  width: 311px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  gap: 12px;
}

.password-characters{
    width: 311px;
    height: 18px;
    color: #737373;

    font-family: Instrument Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;
        
}

.login-btn {
    width: 311px;
    height: 46px;
    padding: 11px 27px 11px 27px;
    border-radius: 8px;
    gap: 8px;
    background: #633cff;
    border: none;
    font-family: Instrument Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
  }

  .dont-have,
.create-account {
  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  font-family: Instrument Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.dont-have {
  color: #737373;
}

.create-account{
    
    color:#633CFF;

}
